<div class="voltar col-md-10" [routerLink]="['/cursadas']"><i class="fas fa-arrow-left"></i> Voltar</div>
<div class="container alinhar">
    <div class="card col-md-10">
        <div class="card-body">
            <div class="text-right editar" (click)="this.edit()"><i class="fas fa-pencil-alt"></i></div>
            <h2 class="card-title">{{cursada.title}}</h2>
            <h3 class="card-subtitle mb-2 text-muted">{{cursada.initials}}</h3>
            <h4 class="text-muted">Objetivo</h4>
            <p class="card-text">{{cursada.goals}}</p>
            <h4 class="text-muted">Ementa</h4>
            <p class="card-text">{{cursada.summary}}</p>
            <p class="card-text">Prof.: {{cursada.teacher}}</p>
            <p class="card-text">Horário: {{cursada.day}} - {{cursada.startTime}} às {{cursada.endTime}} </p>
            <p class="card-text">Status: <strong>{{cursada.status}}</strong></p>
            <p id="text-nota" class="card-text">Nota final: <strong>{{cursada.nf}}</strong></p>
            <input class="no-display" #notainput id="input-nota" value="{{cursada.nf}}">
            <button class="btn btn-primary no-display" (click)="this.save(notainput.value)" id="btn-salvar">Salvar</button>
        </div>

    </div>
</div>