<div class="voltar" [routerLink]="['/cursando']"><i class="fas fa-arrow-left"></i> Voltar</div>
<div class="container alinhar">
    <div class="card col-md-10">
        <div class="card-body">
            <div class="text-right editar" (click)="this.edit()"><i class="fas fa-pencil-alt"></i></div>
            <h2 class="card-title">{{cursando.title}}</h2>
            <h3 class="card-subtitle mb-2 text-muted">{{cursando.initials}}</h3>
            <h4 class="text-muted">Objetivo</h4>
            <p class="card-text">{{cursando.goals}}</p>
            <h4 class="text-muted">Ementa</h4>
            <p class="card-text">{{cursando.summary}}</p>
            <p class="card-text">Prof.: {{cursando.teacher}}</p>
            <p class="card-text">Horário: {{cursando.day}} - {{cursando.startTime}} às {{cursando.endTime}} </p>
            <p class="card-text" id="text-nota">Nota final: <strong>{{cursando.nf}}</strong></p>
            <input class="no-display" #notainput id="input-nota" value="{{cursando.nf}}">
            <button class="btn btn-primary no-display" (click)="this.save(notainput.value)" id="btn-salvar">Salvar</button>
        </div>

    </div>
</div>