<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']"> HISTÓRICO ESCOLAR</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/']">Aluno</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/cursadas']">Matérias cursadas</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/cursando']">Cursando</a>
            </li>
           
        </ul>
    </div>
</nav>